# Node.js
**/node_modules
**/dist
**/build

# OS files
.DS_Store
Thumbs.db

# Angular
**/dist
**/out-tsc
.angular/

# Environment files
**/.env

terraform/.terraform/
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup